:root {
    /* grandezze*/
    --text-s: 10px;
    --text-m: 12px;
    --text-l: 18px;
    --text-xl: 25px;
    /* colore*/
    --black: #1F1E1F;
    --green: #1abc9c;
    --grey: #3A546D;
    --white: #ffffff;

}

.bg-green {
    background-color: var(--green);
}
.bg-grey {
    background-color: var(--grey);
}

.text-l {
    font-size: var(--text-l);
}
.text-m {
    font-size: var(--text-m);
}

.text-black {
    color: var(--black);
}
.text-white{
    color: var(--white);
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width:1000px) {
    :root {
        /* grandezze testo */
        --text-s: 50px;
        --text-m: 12px;
        --text-l: 18px;
        --text-xl: 25px;
        /* colore testo */
        --black: #592B29;
        }
    }
